  <h1>THE COCKTAILSY</h1>

<h1>Make a new Cocktail!</h1>
<%= form_for(@cocktail) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

<p><%= link_to 'Back', cocktails_path %></p>

