<h1>Add new Doses!</h1>
<%= simple_form_for(@cocktail) do |f| %>
  <%= f.association :ingredients %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', cocktail_path(@cocktail) %>

