<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @dose.description %>
</p>

<p>
  <strong>Cocktail name:</strong>
  <%= @dose.cocktail_name %>
</p>

<p>
  <strong>Ingredient name:</strong>
  <%= @dose.ingredient_name %>
</p>

<%= link_to 'Edit', edit_dose_path(@dose) %> |
<%= link_to 'Back', doses_path %>
